// Add your own custom styles here
@font-face {
    font-family: 'Intel One Mono';
    src: url('/fonts/intel-one-mono/IntelOneMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Intel One Mono';
    src: url('/fonts/intel-one-mono/IntelOneMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Intel One Mono';
    src: url('/fonts/intel-one-mono/IntelOneMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Intel One Mono';
    src: url('/fonts/intel-one-mono/IntelOneMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Intel One Mono';
    src: url('/fonts/intel-one-mono/IntelOneMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Intel One Mono';
    src: url('/fonts/intel-one-mono/IntelOneMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Intel One Mono';
    src: url('/fonts/intel-one-mono/IntelOneMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Intel One Mono';
    src: url('/fonts/intel-one-mono/IntelOneMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
  }

  html {
    scroll-behavior: smooth;
  }

  .founder {
    height: 52rem;
  }

  .testimonial {
    height: 27rem;
  }

  .nav-link {
    font-weight: 200;
  }

  .mb-8, .mb-4 {
    font-weight: 200;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Intel One Mono';
    font-weight: 400;
  }

  option {
    font-family: 'Intel One Mono';
    font-weight: 400;
  }
